#pagewrap {
	width: 100%;
	margin: 0 auto;
}
header {
	position: relative;
}
header #logo ,
header #search {
	float: left;
	margin-bottom: 0.3671em;
}
header #logo {
	font-size: 1.3671em;
	margin-right: 13.333672%;
}
header #search {
	width: 47.333672%;
}
#search input {
	width: 83%;
}
#search button {
	width: 4.7em;
}
header hr {
	margin: 3.671em 0 0 0;
	clear: both;
}

main#layout {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 1em;
}

#sidebar {
  flex: 1 1 25%;
  min-width: 200px;
}

#content {
  flex: 1 1 70%;
  min-width: 300px;
}

@media screen and (max-width: 700px) {
  main#layout {
    flex-direction: column;
  }

  #sidebar, #content {
    flex: 1 1 100%;
    min-width: 100%;
  }
}