BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 100
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
IndentCaseLabels: true
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
FixNamespaceComments: false
PenaltyReturnTypeOnItsOwnLine: 1000
