# Compiled Object files
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# build dir
build/

# CxxTest output - note the ucase in test filenames (e.g. Tester.h)
*tester*

# vim leftovers
*~

# sqlite files
*.sqlite
